{{define "user/index"}}
    <html lang="kr">
    <head>
        {{template "head" .}}
    </head>
    <body>

    User Index
    <img src="/assets/cozyfex-logo.png" alt="Logo">

    {{template "scripts" .}}
    </body>
    </html>
{{end}}